Repository elastic/elastic-agent-client, pull requests merged in 2023-03, with the labels that each got.

#61 Upgrade to Go 1.18 + minor cleanup
  .ci/Jenkinsfile
  dev-tools/v2tool/go.mod
  dev-tools/v2tool/manager/manager.go
  pkg/client/client_v2.go
  pkg/client/unit.go
  pkg/client/unit_test.go
  pkg/proto/elastic-agent-client.pb.go
  pkg/proto/elastic-agent-client_grpc.pb.go
Labels: Team:Elastic-Agent

#56 Add feature flag
  elastic-agent-client.proto
  go.mod
  go.sum
  magefile.go
  pkg/client/client_test.go
  pkg/client/client_v2.go
  pkg/client/client_v2_test.go
  pkg/client/unit.go
  pkg/client/unit_test.go
  pkg/proto/elastic-agent-client.pb.go
Labels: enhancement, Team:Elastic-Agent, backport-v8.7.0

#63 Send feature flags information as part of observed state in the next checkin
  pkg/client/client_v2.go
  pkg/client/client_v2_test.go
Labels: enhancement, backport-v8.7.0
